<div class="overlay"></div>

<div class="w-screen h-screen flex flex-col justify-center items-center">
    <div class="flex flex-col justify-between items- w-96 h-96 shadow-md rounded-md p-10 bg-gray-500 opacity-50">
        <H1 class="title text-center text-2xl">
            Welcome to Article and Carousel Generator
        </H1>
        <H3 class="title text-center">
            Make With ❤️ by Amirex
        </H3>
        <div class="text-center">
            <a href="carousel/Input"
               class="opacity-50 bg-red-500 mt-2 hover:bg-red-700 text-white font-bold py-2 px-4 focus:outline-none focus:shadow-outline mr-2">
                Lets get started
            </a>
        </div>
    </div>
</div>