@using Microsoft.AspNetCore.Mvc.TagHelpers
@model carousel_maker.ModelView.InputJsonCarouselModel
@{
    Layout = "_Layout";
}

<div id="alert" class="hidden fixed bottom-10 left-4 bg-green-500 text-white px-6 py-3 rounded-md shadow-lg transient">
    <p>Copied!</p>
</div>
<div class="overlay"></div>

<div class="w-screen h-screen flex justify-center items-center">
    <div class="bg-opacity-10 bg-white rounded-md shadow-md p-5 w-96 flex flex-col justify-between items-center">
        <div>
            <input id="subject"
                   placeholder="Subject of Your Article"
                   class="opacity-50 shadow mb-5 appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                   type="text" >
        </div>

        <div>
            <textarea readonly placeholder="Text of AI Article" id="text" cols="30" rows="10"
              class="opacity-50 w-50 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"></textarea>
            
        </div>
        <div>
            <button id="copyButton"
                    class="opacity-50 bg-blue-500 mt-2 hover:bg-blue-700 text-white font-bold py-2 px-4 focus:outline-none focus:shadow-outline">
                Copy
            </button>
        </div>

        <div class="flex justify-center items-center">
            <a href="https://gemini.google.com/" target="_blank"
                        class="opacity-50 bg-red-500 mt-2 hover:bg-red-700 text-white font-bold py-2 px-4 focus:outline-none focus:shadow-outline mr-2">
                    Gemini
                </a>
            <a href="https://chatgpt.com/" target="_blank"
               class="opacity-50 bg-blue-500 mt-2 hover:bg-blue-700 text-white font-bold py-2 px-4 focus:outline-none focus:shadow-outline mr-2">
                ChatGPT
            </a>

        </div>
        <div>
            <form asp-action="Save" method="post" class="opacity-50 shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col justify-center items-center">
                <div class="mb-4">
                    <label for="Json" class="block text-white text-sm font-bold mb-2">
                        Carousel JSON Code
                    </label>
                    <textarea asp-for="Json" name="Json" id="Json" cols="30" rows="10"
                              class="h-52 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"></textarea>
                </div>
                <div>
                    <button type="submit"
                            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 focus:outline-none focus:shadow-outline">
                        Update Carousel
                    </button>
                </div>
            </form>
        </div>


    </div>

</div>
<script>
    document.getElementById('subject').addEventListener('input', function () {
        var inputFieldValue = this.value;
        updateTextarea(inputFieldValue);
    });

    function updateTextarea(value) {
        var textareaContent = `write an article about "${value}" with 10 subject and True and scientific  . note that Body field of this json that you must create must contain exactly more then 70 words. "dont write short body" body must contain long description . finally put result in json format with this syntax (do not write any things just write json) :
        \`\`\`
[
  {
    "Title": "article title",
    "Body": "long description for body and explain about title and article that must contains more then 70 words",
    "Example": "say common and usefully Example",
    "HashTag": "just one trended Hash Tag about this article for linkedin",
    "Question": "say common Question",
    "Answer": "Answer question",
    "Id": 1
  },
  {
    "Title": "Title",
    "Body": "long description for body and explain about title and article that must contains more then 70 words",
    "Example": "say common and usefully Example",
    "HashTag": "just one trended Hash Tag about this article for linkedin",
    "Question": "say common Question",
    "Answer": "Answer question",
    "Id": 2
  },
   {
    "Title": "Title",
    "Body": "long description for body and explain about title and article that must contains more then 70 words",
    "Example": "say common and usefully Example",
    "HashTag": "just one trended Hash Tag about this article for linkedin",
    "Question": "say common Question",
    "Answer": "Answer question",
    "Id": 3
  },
  ... other item of array
\`\`\`
`;
        document.getElementById('text').value = textareaContent;
    }

    function decodeHtml(htmlString) {
        const tempElement = document.createElement('div');
        tempElement.innerHTML = htmlString;
        return tempElement.textContent || tempElement.innerText;
    }

    document.getElementById('copyButton').addEventListener('click', async () => {
        let encodedText = document.getElementById('text').value
        const decodedText = decodeHtml(encodedText);
        try {
            await navigator.clipboard.writeText(decodedText);
        } catch (err) {
            console.error('Failed to copy text:', err);
        }
        showCopiedAlert()
    });

    function showCopiedAlert() {
        var alertDiv = document.getElementById('alert');
        alertDiv.classList.remove('hidden');
        setTimeout(function () {
            alertDiv.classList.add('hidden');
        }, 2000);
    }
</script>