@font-face {
    font-family: "JetBrains-Mono-Bold";
    src: url('./../fonts/ttf/JetBrainsMono-Bold.ttf') format('truetype');
}
@font-face {
    font-family: "JetBrains-Mono-Regular";
    src: url('./../fonts/ttf/JetBrainsMono-Regular.ttf') format('truetype');
}
@font-face {
    font-family: "JetBrains-Mono-Italic";
    src: url('./../fonts/ttf/JetBrainsMono-Italic.ttf') format('truetype');
}
@font-face {
    font-family: "JetBrains-Mono-Light";
    src: url('./../fonts/ttf/JetBrainsMono-Light.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
}

.carousel {
    display: block; /* Change from flex to block */
    width: 100%; /* Adjust to full width */
    height: 100vh; /* Adjust to full viewport height */

}

.title {
    font-family: "JetBrains-Mono-Bold", sans-serif;
}
.description {
    font-family: "JetBrains-Mono-Regular", sans-serif;
}
.name {
    font-family: "JetBrains-Mono-Italic", sans-serif;
}
.name-info {
    font-family: "JetBrains-Mono-Light", sans-serif;
}

.item {
    width: 100%; /* Adjust to full width */
    height: 100vh; /* Adjust to full viewport height */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    page-break-after: always; /* Add a page break after each item */
    background-image: url('https://picsum.photos/500/500?blur');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media print {
    body {
        background-image: url('https://picsum.photos/500/800?blur');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed; /* Add this line */

        -webkit-print-color-adjust: exact;
        color-adjust: exact;
    }

    @page {
        margin: 0;
        @top-center {
            content: none;
        }
        @bottom-center {
            content: none;
        }
        @top-right {
            content: none;
        }
        @bottom-right {
            content: none;
        }
        @top-left {
            content: none;
        }
        @bottom-left {
            content: none;
        }
    }

    body {
        counter-reset: pagination;
    }

    ::-moz-page-number {
        display: none;
    }

    ::-webkit-page-footer-area,
    ::-webkit-page-header-area {
        display: none;
    }

    @page {
        margin: 0;
    }

    .no-print {
        display: none !important;
    }
    .element-to-hide {
        display: none;
    }
}

.overlay {
    position: fixed; /* changed to fixed */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://picsum.photos/800/800?blur');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1; /* moved z-index here */
}

.overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha value (last parameter) to change the darkness */
    z-index: 1; /* Ensure the overlay is behind other content */
    pointer-events: none; /* Allow pointer events to pass through the overlay */
}